div#example1 input {
  -webkit-appearance: none;
  appearance: none;
}

span#example2 {
  display: inline-block;
  background: red;
}

span#example2 input[type="checkbox"] {
  width: 100px;
  height: 100px;
}

div#example3 div:nth-child(1) input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

div#example3 div:nth-child(1) input[type="checkbox"] {
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  vertical-align: -2px;
  color: green;
}

div#example3 div:nth-child(1) input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

div#example3 div:nth-child(1) input[type="checkbox"]:checked::before {
  visibility: visible;
}

div#example3 div:nth-child(1) input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}

div#example4 {
  font-family: "Josefin Sans", sans-serif;
  margin: 20px auto;
  max-width: 400px;
}

div#example4 form > div {
  margin-bottom: 20px;
}

div#example4 form > div select {
  -webkit-appearance: none;
  appearance: none;
}

div#example4#select-wrapper {
  position: relative;
}

div#example4#select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
}

div#example4 button,
div#example4 label,
div#example4 input,
div#example4 select,
div#example4 progress,
div#example4 meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 30px;
}

div#example4 form p input[type="text"],
div#example4 form p input[type="datetime-local"],
div#example4 form p input[type="color"],
div#example4 form p select {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

div#example4 label {
  margin-bottom: 5px;
}

div#example4 button {
  width: 60%;
  margin: 0 auto;
}
